venv/
__pycache__/
*.pyc
# logs/ — NOT ignored to allow TensorBoard logs in repository
.DS_Store
.ipynb_checkpoints/
.env
*.log
.vscode/
models/
deployment/model/legacy*/

# Backup folder (not pushed to GitHub)
backup/
