# Environments
venv/
.env

# Python
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/

# Editor & OS
.DS_Store
.vscode/
.idea/
.ipynb_checkpoints/

# Logs
# logs/ — NOT ignored to allow TensorBoard logs in repository
*.log

# Project specific
models/
deployment/model/legacy*/

# Backup folder (not pushed to GitHub)
backup/
